<div class="flex gap-2 mb-5">
  <div class="flex-grow">
    <app-input-text icon="heroKey"
                    name="passphrase"
                    [formGroup]="form"></app-input-text>
  </div>
  <div class="flex-none">
    <app-button-primary icon="heroArrowRightOnRectangle"
                        label="Add"
                        [disabled]="false"
                        (click)="logout()"></app-button-primary>
  </div>
</div>

<div class="text-xl text-center my-8" data-aos="zoom-in" *ngIf="isBookmarksLoading">
  <app-loading-icon></app-loading-icon>
</div>
<div *ngIf="!isBookmarksLoading">
  <div *ngIf="bookmarks.length < 1" class="my-3 text-slate-200 opacity-70">
    There are no bookmarks saved for this passphrase yet.
  </div>
  <ul class="rounded-xl  mb-5 overflow-hidden" data-aos="flip-up" *ngIf="bookmarks.length > 0">
    <li *ngFor="let bookmark of bookmarks;"
        class="border-b mb-0.5 border-1 border-transparent bg-white bg-opacity-5 hover:bg-opacity-10">
      <app-bookmark [passphrase]="passphrase"
                    [bookmark]="bookmark"
                    (onDeletedEvent)="loadBookmarks()"></app-bookmark>
    </li>
  </ul>

  <app-bookmark-create [passphrase]="passphrase" (onSavedEvent)="loadBookmarks()"></app-bookmark-create>
</div>
