<div class="flex items-center">
  <div class="flex-grow min-w-0">
    <a class="inline-flex gap-2 items-center w-full text-left text-fuchsia-50 px-4 py-2 whitespace-nowrap overflow-hidden text-ellipsis"
       [routerLink]="['/bookmarks', passphrase, folder.path]">
      <div class="inline-flex w-10 h-10 mr-1  rounded-xl border-slate-800 justify-center items-center">
        <ng-icon name="heroFolder" size="28"></ng-icon>
      </div>
      <div>{{ folder.title }}</div>
    </a>
  </div>
  <div class="flex-none px-4 text-[0px]">
    <button (click)="delete()" class="text-[0px] text-fuchsia-600 opacity-50 hover:opacity-100 transition-opacity ease-in-out">
      <ng-icon name="heroTrash" size="28"></ng-icon>
    </button>
  </div>
</div>
