<header class="max-w-5xl mx-auto text-left mt-32">
  <div  class="inline-flex mx-auto gap-4" data-aos="fade-in" data-aos-delay="500" data-aos-duration="3000">
    <div class="flex-none">
      <a href="/">
        <img class="inline-block h-24"
           src="/assets/booma.png"
           alt="Booma" />
      </a>
    </div>
    <div class="grow text-left">
      <a href="/"><h1 class="text-6xl text-fuchsia-600">Booma</h1></a>
      <h2 class="text-fuchsia-600 opacity-70">Anonymous bookmarks without registration</h2>
    </div>
  </div>
</header>
<main class="max-w-5xl mx-auto text-center bg-white rounded-xl px-5 py-8 bg-opacity-5" data-aos="zoom-in">
  <router-outlet></router-outlet>
</main>


