<header class="max-w-5xl mx-auto text-left pt-12 md:pt-32 leading-none text-[0px] overflow-hidden">
  <div  class="inline-flex mx-auto items-center gap-4" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
    <div class="flex-none box-content w-24 md:w-32 pl-4">
      <a href="/" class="inline-block h-24 md:h-32 opacity-5">
        <app-logo color="white"></app-logo>
      </a>
    </div>
    <div class="grow text-left">
      <a href="/"><h1 class="text-4xl md:text-5xl text-fuchsia-600 -m-1 opacity-90">Booma</h1></a>
      <h2 class="text-slate-100 text-sm md:text-xl opacity-50 mt-2">Anonymous bookmarks without registration.</h2>
    </div>
  </div>

  <div class="absolute top-2 md:top-5 right-2 md:right-5">
    <a href="https://github.com/ckilb/booma" target="_blank" class="text-slate-400 opacity-50 hover:opacity-95 transition-all ease-in-out">
      <ng-icon name="jamGithub" size="32  "></ng-icon>
    </a>
  </div>
</header>
<main class="max-w-5xl mx-auto text-center bg-white rounded-xl px-5 py-8 bg-opacity-5" data-aos="zoom-in">
  <router-outlet></router-outlet>
</main>
<footer class="mt-32 mb-5 text-center text-xs text-white" data-aos-delay="750" data-aos="fade-in" data-aos-duration="3000">
  <a href="https://kilb.tech" target="_blank" class="opacity-30 hover:opacity-80 transition-all ease-in-out md:mx-2">About me</a>
  &middot;
  <a href="https://kilb.tech/legal" target="_blank" class="opacity-30 hover:opacity-80 transition-all ease-in-out md:mx-2">Legal/Impressum</a>
</footer>
